body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../Picture/2.jpg");
}

.main {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(1, 255, 213, 0.1);
}

.main h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.main h2 {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.start {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.start:hover {
    background-color: #45a049;
}

.registerbar {
    display: none;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.registerbar .a {
    margin-bottom: 15px;
}

.registerbar .a input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.registerbar button{
    background-color: #008CBA;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

.registerbar button:hover {
    background-color: #007B9A;
}