body{
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 25px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-top-right-radius: 35px;
}

.sidebaricon {
    font-size: 30px;
    display: block;
    position: fixed;
    top: 33px;
    left: 45px;
    cursor: pointer;
    color: #818181;
}

.sidebaricon i{
    display: flex;
    justify-content: center;
}

.icon{
    display: none;
    font-size: 30px;
    position: fixed;
    top: 15px;
    left: 15px;
    cursor: pointer;
    color: #818181;
}

.icon .active {
    display: block;
}

.sidebar a {
    padding: 15px 0px 15px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    justify-content: space-between;
}

.sidebar a:hover {
    color: #f1f1f1;
}